<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Mass:</strong>
  <%= @person.mass %>
</p>

<p>
  <strong>Birthyear:</strong>
  <%= @person.birthyear %>
</p>

<p>
  <strong>Starships:</strong>
  <%= @person.starships_id %>
</p>

<p>
  <strong>Spicies:</strong>
  <%= @person.spicies_id %>
</p>

<p>
  <strong>Planets:</strong>
  <%= @person.planets_id %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
