<p id="notice"><%= notice %></p>

<div class="container">
    <div class="container_title">
        <div class="div_title">
            <h1>Personagens</h1>
        </div>

        <form class="div_title" action="/" method="get">
            <input style="margin:5px" type="text" name="filter">
            <button type="submit" style="margin:5px" class="btn btn-success"><i class="fas fa-search"></i></button>
        </form>
    </div>

    <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="row">Nome</th>
        <th scope="row">Peso</th>
        <th scope="row">Ano Nascimento</th>
        <th scope="row">Planeta</th>
        <th scope="row">Espécies</th>
        <th scope="row">Naves</th>
      </tr>
    </thead>

    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= link_to person.name, show_path(:id => person.id) %></td>
          <td><%= person.mass %></td>
          <td><%= person.birthyear %></td>
          <td><%= person.planets.first.name %></td>
          <td><%= person.get_species %></td>
          <td><%= person.get_starships %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>